@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #DB9B6D;
  --mainRed:#080707;
  --fontLobster:'Lobster', cursive;
  --fontCinzel:'Cinzel', serif;
  --fontIF:'Indie Flower', cursive;
}